<h1>All Classes</h1>

<table>
  <tr>
    <th>Class</th>
  </tr>

  <% @teachers.each do |teacher| %>
  <% teacher.groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= link_to 'Show', group %></td>
    <!--                                                                                                                                                                                            
    <td><%= link_to 'Edit', edit_group_path(group) %></td>                                                                                                                                           
    <td><%= link_to 'Destroy', group_path(group), method: :delete, data: {confirm: 'Are you sure?'} %></td>                                                                                          
    -->
 </tr>
  <% end %>
  <% end %>
</table>
