<h1>Welcome to Jilu</h1>

<p>Jilu is a service that factilitates online audio-based assignments using JavaScript and HTML5.
<br><br>
Please use an updated version of Chrome (version 21+), Firefox (version 17+), or Opera (version 18+).
</p>
